## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Identify columns
col=application_df.columns
col

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Determine the number of unique values in each column.
unique_value_count=application_df.nunique()
unique_value_count

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
col_drop=["EIN","NAME","AFFILIATION","USE_CASE","SPECIAL_CONSIDERATIONS"]

application_df.drop(columns=col_drop, inplace=True)
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,Association,1,0,5000,1
1,T3,C2000,Co-operative,1,1-9999,108590,1
2,T5,C3000,Association,1,0,5000,0
3,T3,C2000,Trust,1,10000-24999,6692,1
4,T3,C1000,Trust,1,100000-499999,142590,1

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app=application_df["APPLICATION_TYPE"].value_counts()
app

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# With the cutoff value 499 create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=app[app<500].index.tolist()
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
cls=application_df["CLASSIFICATION"].value_counts()
cls

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Use cutoff value 1000 and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=cls[cls<999].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Generate categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE', 'CLASSIFICATION', 'ORGANIZATION', 'INCOME_AMT']

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_encoded=pd.get_dummies(application_df[['APPLICATION_TYPE','CLASSIFICATION','ORGANIZATION','INCOME_AMT']])

application_df_encoded=pd.concat([application_df,cat_encoded],axis=1)
application_df_encoded=application_df_encoded.drop(columns=['APPLICATION_TYPE','CLASSIFICATION','ORGANIZATION','INCOME_AMT'])
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
y=application_df_encoded["IS_SUCCESSFUL"].values
X=application_df_encoded.drop("IS_SUCCESSFUL",1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\rache\AppData\Local\Temp\ipykernel_14340\1505057219.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=application_df_encoded.drop("IS_SUCCESSFUL",1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                2480

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 4941 (19.30 KB)
Trainable params: 4941 (19.30 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)#callbacks=[model_checkpoint])

Epoch 1/100
804/804 [==============================] - 1s 860us/step - loss: 0.6246 - accuracy: 0.6415
Epoch 2/100
804/804 [==============================] - 1s 803us/step - loss: 0.6175 - accuracy: 0.6495
Epoch 3/100
804/804 [==============================] - 1s 778us/step - loss: 0.6164 - accuracy: 0.6500
Epoch 4/100
804/804 [==============================] - 1s 758us/step - loss: 0.6159 - accuracy: 0.6487
Epoch 5/100
804/804 [==============================] - 1s 752us/step - loss: 0.6155 - accuracy: 0.6499
Epoch 6/100
804/804 [==============================] - 1s 769us/step - loss: 0.6145 - accuracy: 0.6495
Epoch 7/100
804/804 [==============================] - 1s 808us/step - loss: 0.6143 - accuracy: 0.6475
Epoch 8/100
804/804 [==============================] - 1s 776us/step - loss: 0.6141 - accuracy: 0.6483
Epoch 9/100
804/804 [==============================] - 1s 800us/step - loss: 0.6136 - accuracy: 0.6495
Epoch 10/100
804/804 [==============================] - 1s 816us/step - loss: 0.6134 - accuracy: 0.6504
Epoch 11/100
804/804 [==============================] - 1s 854us/step - loss: 0.6131 - accuracy: 0.6509
Epoch 12/100
804/804 [==============================] - 1s 835us/step - loss: 0.6130 - accuracy: 0.6500
Epoch 13/100
804/804 [==============================] - 1s 807us/step - loss: 0.6128 - accuracy: 0.6494
Epoch 14/100
804/804 [==============================] - 1s 790us/step - loss: 0.6129 - accuracy: 0.6508
Epoch 15/100
804/804 [==============================] - 1s 815us/step - loss: 0.6122 - accuracy: 0.6509
Epoch 16/100
804/804 [==============================] - 1s 837us/step - loss: 0.6121 - accuracy: 0.6511
Epoch 17/100
804/804 [==============================] - 1s 887us/step - loss: 0.6122 - accuracy: 0.6506
Epoch 18/100
804/804 [==============================] - 1s 744us/step - loss: 0.6117 - accuracy: 0.6505
Epoch 19/100
804/804 [==============================] - 1s 718us/step - loss: 0.6116 - accuracy: 0.6509
Epoch 20/100
804/804 [==============================] - 1s 735us/step - loss: 0.6122 - accuracy: 0.6502
Epoch 21/100
804/804 [==============================] - 1s 759us/step - loss: 0.6112 - accuracy: 0.6518
Epoch 22/100
804/804 [==============================] - 1s 715us/step - loss: 0.6113 - accuracy: 0.6525
Epoch 23/100
804/804 [==============================] - 1s 754us/step - loss: 0.6116 - accuracy: 0.6508
Epoch 24/100
804/804 [==============================] - 1s 729us/step - loss: 0.6111 - accuracy: 0.6520
Epoch 25/100
804/804 [==============================] - 1s 829us/step - loss: 0.6108 - accuracy: 0.6511
Epoch 26/100
804/804 [==============================] - 1s 848us/step - loss: 0.6111 - accuracy: 0.6521
Epoch 27/100
804/804 [==============================] - 1s 900us/step - loss: 0.6109 - accuracy: 0.6527
Epoch 28/100
804/804 [==============================] - 1s 802us/step - loss: 0.6109 - accuracy: 0.6526
Epoch 29/100
804/804 [==============================] - 1s 867us/step - loss: 0.6106 - accuracy: 0.6502
Epoch 30/100
804/804 [==============================] - 1s 758us/step - loss: 0.6105 - accuracy: 0.6515
Epoch 31/100
804/804 [==============================] - 1s 680us/step - loss: 0.6106 - accuracy: 0.6535
Epoch 32/100
804/804 [==============================] - 1s 682us/step - loss: 0.6104 - accuracy: 0.6530
Epoch 33/100
804/804 [==============================] - 1s 682us/step - loss: 0.6106 - accuracy: 0.6534
Epoch 34/100
804/804 [==============================] - 1s 685us/step - loss: 0.6104 - accuracy: 0.6532
Epoch 35/100
804/804 [==============================] - 1s 676us/step - loss: 0.6104 - accuracy: 0.6526
Epoch 36/100
804/804 [==============================] - 1s 677us/step - loss: 0.6102 - accuracy: 0.6524
Epoch 37/100
804/804 [==============================] - 1s 743us/step - loss: 0.6099 - accuracy: 0.6530
Epoch 38/100
804/804 [==============================] - 1s 696us/step - loss: 0.6100 - accuracy: 0.6529
Epoch 39/100
804/804 [==============================] - 1s 680us/step - loss: 0.6100 - accuracy: 0.6531
Epoch 40/100
804/804 [==============================] - 1s 716us/step - loss: 0.6097 - accuracy: 0.6528
Epoch 41/100
804/804 [==============================] - 1s 751us/step - loss: 0.6100 - accuracy: 0.6533
Epoch 42/100
804/804 [==============================] - 1s 757us/step - loss: 0.6099 - accuracy: 0.6528
Epoch 43/100
804/804 [==============================] - 1s 730us/step - loss: 0.6098 - accuracy: 0.6534
Epoch 44/100
804/804 [==============================] - 1s 732us/step - loss: 0.6096 - accuracy: 0.6529
Epoch 45/100
804/804 [==============================] - 1s 753us/step - loss: 0.6095 - accuracy: 0.6534
Epoch 46/100
804/804 [==============================] - 1s 735us/step - loss: 0.6094 - accuracy: 0.6531
Epoch 47/100
804/804 [==============================] - 1s 775us/step - loss: 0.6097 - accuracy: 0.6531
Epoch 48/100
804/804 [==============================] - 1s 918us/step - loss: 0.6095 - accuracy: 0.6533
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6094 - accuracy: 0.6528
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6095 - accuracy: 0.6539
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6095 - accuracy: 0.6525
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6092 - accuracy: 0.6520
Epoch 53/100
804/804 [==============================] - 1s 823us/step - loss: 0.6092 - accuracy: 0.6535
Epoch 54/100
804/804 [==============================] - 1s 775us/step - loss: 0.6090 - accuracy: 0.6538
Epoch 55/100
804/804 [==============================] - 1s 868us/step - loss: 0.6090 - accuracy: 0.6541
Epoch 56/100
804/804 [==============================] - 1s 787us/step - loss: 0.6090 - accuracy: 0.6534
Epoch 57/100
804/804 [==============================] - 1s 817us/step - loss: 0.6092 - accuracy: 0.6528
Epoch 58/100
804/804 [==============================] - 1s 749us/step - loss: 0.6091 - accuracy: 0.6535
Epoch 59/100
804/804 [==============================] - 1s 781us/step - loss: 0.6089 - accuracy: 0.6536
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6088 - accuracy: 0.6543
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6088 - accuracy: 0.6540
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6087 - accuracy: 0.6537
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6089 - accuracy: 0.6533
Epoch 64/100
804/804 [==============================] - 1s 896us/step - loss: 0.6089 - accuracy: 0.6536
Epoch 65/100
804/804 [==============================] - 1s 956us/step - loss: 0.6090 - accuracy: 0.6531
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6087 - accuracy: 0.6537
Epoch 67/100
804/804 [==============================] - 1s 841us/step - loss: 0.6088 - accuracy: 0.6533
Epoch 68/100
804/804 [==============================] - 1s 831us/step - loss: 0.6086 - accuracy: 0.6541
Epoch 69/100
804/804 [==============================] - 1s 796us/step - loss: 0.6088 - accuracy: 0.6539
Epoch 70/100
804/804 [==============================] - 1s 819us/step - loss: 0.6086 - accuracy: 0.6531
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6086 - accuracy: 0.6539
Epoch 72/100
804/804 [==============================] - 1s 750us/step - loss: 0.6086 - accuracy: 0.6544
Epoch 73/100
804/804 [==============================] - 1s 733us/step - loss: 0.6085 - accuracy: 0.6535
Epoch 74/100
804/804 [==============================] - 1s 779us/step - loss: 0.6086 - accuracy: 0.6543
Epoch 75/100
804/804 [==============================] - 1s 736us/step - loss: 0.6085 - accuracy: 0.6534
Epoch 76/100
804/804 [==============================] - 1s 911us/step - loss: 0.6085 - accuracy: 0.6546
Epoch 77/100
804/804 [==============================] - 1s 760us/step - loss: 0.6087 - accuracy: 0.6538
Epoch 78/100
804/804 [==============================] - 1s 742us/step - loss: 0.6085 - accuracy: 0.6529
Epoch 79/100
804/804 [==============================] - 1s 750us/step - loss: 0.6085 - accuracy: 0.6541
Epoch 80/100
804/804 [==============================] - 1s 761us/step - loss: 0.6084 - accuracy: 0.6541
Epoch 81/100
804/804 [==============================] - 1s 776us/step - loss: 0.6082 - accuracy: 0.6535
Epoch 82/100
804/804 [==============================] - 1s 756us/step - loss: 0.6083 - accuracy: 0.6535
Epoch 83/100
804/804 [==============================] - 1s 724us/step - loss: 0.6085 - accuracy: 0.6542
Epoch 84/100
804/804 [==============================] - 1s 726us/step - loss: 0.6084 - accuracy: 0.6532
Epoch 85/100
804/804 [==============================] - 1s 777us/step - loss: 0.6083 - accuracy: 0.6541
Epoch 86/100
804/804 [==============================] - 1s 856us/step - loss: 0.6082 - accuracy: 0.6535
Epoch 87/100
804/804 [==============================] - 1s 907us/step - loss: 0.6082 - accuracy: 0.6537
Epoch 88/100
804/804 [==============================] - 1s 851us/step - loss: 0.6084 - accuracy: 0.6532
Epoch 89/100
804/804 [==============================] - 1s 770us/step - loss: 0.6081 - accuracy: 0.6535
Epoch 90/100
804/804 [==============================] - 1s 737us/step - loss: 0.6084 - accuracy: 0.6538
Epoch 91/100
804/804 [==============================] - 1s 794us/step - loss: 0.6082 - accuracy: 0.6538
Epoch 92/100
804/804 [==============================] - 1s 825us/step - loss: 0.6082 - accuracy: 0.6532
Epoch 93/100
804/804 [==============================] - 1s 768us/step - loss: 0.6082 - accuracy: 0.6539
Epoch 94/100
804/804 [==============================] - 1s 760us/step - loss: 0.6081 - accuracy: 0.6536
Epoch 95/100
804/804 [==============================] - 1s 942us/step - loss: 0.6078 - accuracy: 0.6532
Epoch 96/100
804/804 [==============================] - 1s 776us/step - loss: 0.6078 - accuracy: 0.6553
Epoch 97/100
804/804 [==============================] - 1s 726us/step - loss: 0.6080 - accuracy: 0.6538
Epoch 98/100
804/804 [==============================] - 1s 747us/step - loss: 0.6082 - accuracy: 0.6538
Epoch 99/100
804/804 [==============================] - 1s 728us/step - loss: 0.6082 - accuracy: 0.6529
Epoch 100/100
804/804 [==============================] - 1s 729us/step - loss: 0.6079 - accuracy: 0.6541

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6175 - accuracy: 0.6541 - 271ms/epoch - 1ms/step
Loss: 0.6174749135971069, Accuracy: 0.6541107892990112

In [17]:
# Export our model to HDF5 file
model = "AlphabetSoupCharity_Optimisation_2.h5"

# Save the model to the HDF5 file
nn.save(model)

c:\Users\rache\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(